{% comment %}
  Renders a list of product's price (regular, sale)

  Accepts:
  - product: {Object} Product Liquid object (optional)
  - use_variant: {Boolean} Renders selected or first variant price instead of overall product pricing (optional)
  - show_badges: {Boolean} Renders 'Sale' and 'Sold Out' tags if the product matches the condition (optional)
  - price_class: {String} Adds a price class to the price element (optional)
  - show_compare_at_price: {Boolean} Renders the compare at price if the product matches the condition (optional)

  Usage:
  {% render 'price', product: product %}
{% endcomment %}
{%- liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  else
    assign target = product
  endif

  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999
  assign price_min = product.price_min
  assign price_max = product.price_max
  assign available = target.available | default: false
  assign money_price = price | money_without_trailing_zeros
  assign money_price_min = price_min | money_without_trailing_zeros
  assign money_price_max = price_max | money_without_trailing_zeros
  if settings.currency_code_enabled
    assign money_price = price | money_with_currency
    assign money_price_min = price_min | money_with_currency
    assign money_price_max = price_max | money_with_currency
  endif

  if target == product and product.price_varies
    assign money_price = 'products.product.price.from_price_html' | t: price: money_price
  endif
-%}

<div
  class="
    price
    {%- if price_class %} {{ price_class }}{% endif -%}
    {%- if available == false %} price--sold-out{% endif -%}
    {%- if compare_at_price > price and product.quantity_price_breaks_configured? != true %} price--on-sale{% endif -%}
    {%- if compare_at_price > price and product.quantity_price_breaks_configured? %} volume-pricing--sale-badge{% endif -%}
    {%- if product.price_varies == false and product.compare_at_price_varies %} price--no-compare{% endif -%}
    {%- if show_badges %} price--show-badge{% endif -%}
  "
>
  <div class="price__container">
    {%- comment -%}
      Explanation of description list:
        - div.price__regular: Displayed when there are no variants on sale
        - div.price__sale: Displayed when a variant is a sale
    {%- endcomment -%}
    <div class="price__regular">
      {%- if product.quantity_price_breaks_configured? -%}
        <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
        <span class="price-item price-item--regular">
          {{- 'products.product.volume_pricing.price_range' | t: minimum: money_price_min, maximum: money_price_max -}}
        </span>
        {%- if show_compare_at_price and compare_at_price -%}
          {%- unless product.price_varies == false and product.compare_at_price_varies %}
            <span class="visually-hidden visually-hidden--inline">
              {{- 'products.product.price.regular_price' | t -}}
            </span>
            <span>
              <s class="price-item price-item--regular variant-item__old-price">
                {% if settings.currency_code_enabled %}
                  {{ compare_at_price | money_with_currency }}
                {% else %}
                  {{ compare_at_price | money_without_trailing_zeros }}
                {% endif %}
              </s>
            </span>
          {%- endunless -%}
        {%- endif -%}
      {%- else -%}
        <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
        <span class="price-item price-item--regular">
          {{ money_price }}
        </span>
      {%- endif -%}
    </div>
    <div class="price__sale">
      <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.sale_price' | t }}</span>
      <span class="price-item price-item--sale price-item--last">
        {{ money_price }}
      </span>
      {%- unless product.price_varies == false and product.compare_at_price_varies %}
        <div class="cutoff_Price">
          <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
          <span>
            <s class="price-item price-item--regular">
              {% if settings.currency_code_enabled %}
                {{ compare_at_price | money_with_currency }}
              {% else %}
                {{ compare_at_price | money_without_trailing_zeros }}
              {% endif %}

              Up to 67% Off<sup>*</sup>! 
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_4_471)"> <path d="M15.0656 8.1665C15.0656 12.1801 11.8124 15.4321 7.79999 15.4321C3.78758 15.4321 0.534363 12.1801 0.534363 8.1665C0.534363 4.15526 3.78758 0.900879 7.79999 0.900879C11.8124 0.900879 15.0656 4.15526 15.0656 8.1665ZM7.99496 3.30322C6.39837 3.30322 5.38007 3.97579 4.58044 5.17113C4.47684 5.326 4.5115 5.53485 4.65998 5.64744L5.67655 6.41824C5.82904 6.53388 6.04631 6.50637 6.16478 6.35607C6.68814 5.69227 7.047 5.30733 7.84358 5.30733C8.44209 5.30733 9.18239 5.69253 9.18239 6.2729C9.18239 6.71165 8.82019 6.93697 8.22925 7.26829C7.54007 7.65463 6.62811 8.13548 6.62811 9.33838V9.45557C6.62811 9.64972 6.78552 9.80713 6.97968 9.80713H8.6203C8.81445 9.80713 8.97186 9.64972 8.97186 9.45557V9.41651C8.97186 8.58267 11.409 8.54795 11.409 6.2915C11.409 4.59223 9.64631 3.30322 7.99496 3.30322ZM7.79999 10.5688C7.05687 10.5688 6.45233 11.1734 6.45233 11.9165C6.45233 12.6596 7.05687 13.2642 7.79999 13.2642C8.5431 13.2642 9.14764 12.6596 9.14764 11.9165C9.14764 11.1734 8.5431 10.5688 7.79999 10.5688Z" fill="#ADB5BD"/> </g> <defs> <clipPath id="clip0_4_471"> <rect width="15" height="15" fill="white" transform="translate(0.299988 0.666504)"/> </clipPath> </defs> </svg>

            </s>
          </span>
        <div>
      {%- endunless -%}
    </div>
    <small class="unit-price caption{% if product.selected_or_first_available_variant.unit_price_measurement == nil %} hidden{% endif %}">
      <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
      <span class="price-item price-item--last">
        <span>{{- product.selected_or_first_available_variant.unit_price | money -}}</span>
        <span aria-hidden="true">/</span>
        <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
        <span>
          {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
            {{- product.selected_or_first_available_variant.unit_price_measurement.reference_value -}}
          {%- endif -%}
          {{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}
        </span>
      </span>
    </small>
  </div>
  {%- if show_badges -%}
    <span class="badge price__badge-sale color-{{ settings.sale_badge_color_scheme }}">
      {{ 'products.product.on_sale' | t }}
    </span>

    <span class="badge price__badge-sold-out color-{{ settings.sold_out_badge_color_scheme }}">
      {{ 'products.product.sold_out' | t }}
    </span>
  {%- endif -%}
</div>
