{% comment %}
  Renders a list of product's price (regular, sale)

  Accepts:
  - product: {Object} Product Liquid object (optional)
  - use_variant: {Boolean} Renders selected or first variant price instead of overall product pricing (optional)
  - show_badges: {Boolean} Renders 'Sale' and 'Sold Out' tags if the product matches the condition (optional)
  - price_class: {String} Adds a price class to the price element (optional)
  - show_compare_at_price: {Boolean} Renders the compare at price if the product matches the condition (optional)

  Usage:
  {% render 'price', product: product %}
{% endcomment %}
{%- liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  else
    assign target = product
  endif

  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999
  assign price_min = product.price_min
  assign price_max = product.price_max
  assign available = target.available | default: false
  assign money_price = price | money_without_trailing_zeros
  assign money_price_min = price_min | money_without_trailing_zeros
  assign money_price_max = price_max | money_without_trailing_zeros
  if settings.currency_code_enabled
    assign money_price = price | money_with_currency
    assign money_price_min = price_min | money_with_currency
    assign money_price_max = price_max | money_with_currency
  endif

  if target == product and product.price_varies
    assign money_price = 'products.product.price.from_price_html' | t: price: money_price
  endif
-%}

<div
  class="
    price
    {%- if price_class %} {{ price_class }}{% endif -%}
    {%- if available == false %} price--sold-out{% endif -%}
    {%- if compare_at_price > price and product.quantity_price_breaks_configured? != true %} price--on-sale{% endif -%}
    {%- if compare_at_price > price and product.quantity_price_breaks_configured? %} volume-pricing--sale-badge{% endif -%}
    {%- if product.price_varies == false and product.compare_at_price_varies %} price--no-compare{% endif -%}
    {%- if show_badges %} price--show-badge{% endif -%}
  "
>
  <div class="price__container">
    {%- comment -%}
      Explanation of description list:
        - div.price__regular: Displayed when there are no variants on sale
        - div.price__sale: Displayed when a variant is a sale
    {%- endcomment -%}
    <div class="price__regular">
      {%- if product.quantity_price_breaks_configured? -%}
        <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
        <span class="price-item price-item--regular">
          {{- 'products.product.volume_pricing.price_range' | t: minimum: money_price_min, maximum: money_price_max -}}
        </span>
        {%- if show_compare_at_price and compare_at_price -%}
          {%- unless product.price_varies == false and product.compare_at_price_varies %}
            <span class="visually-hidden visually-hidden--inline">
              {{- 'products.product.price.regular_price' | t -}}
            </span>
            <span>
              <s class="price-item price-item--regular variant-item__old-price">
                {% if settings.currency_code_enabled %}
                  {{ compare_at_price | money_with_currency }}
                {% else %}
                  {{ compare_at_price | money_without_trailing_zeros }}
                {% endif %}
              </s>
            </span>
          {%- endunless -%}
        {%- endif -%}
      {%- else -%}
        <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
        <span class="price-item price-item--regular">
          {{ money_price }}
        </span>
      {%- endif -%}
    </div>
    <div class="price__sale">
      <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.sale_price' | t }}</span>
      <span class="price-item price-item--sale price-item--last">
        {{ money_price }}
      </span>
      <span class="voucher_price_wrapper">
          {%- 
            assign pricewocur1 = product.price | money_without_currency
         -%}

         {%- 
            assign voucherDiscount =  pricewocur1 | minus: 100
         -%}

         PC: {{ pricewocur1 }}
         <span class="voucher_text">${{ voucherDiscount | slice: pos, 1  }}</span>
         <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_4_460)"> <path fill-rule="evenodd" clip-rule="evenodd" d="M12.95 0.166504C19.573 0.166504 24.95 5.5435 24.95 12.1665C24.95 18.7895 19.573 24.1665 12.95 24.1665C6.327 24.1665 0.950005 18.7895 0.950005 12.1665C0.950005 5.5435 6.327 0.166504 12.95 0.166504ZM12.95 1.1665C19.021 1.1665 23.95 6.0955 23.95 12.1665C23.95 18.2375 19.021 23.1665 12.95 23.1665C6.879 23.1665 1.95 18.2375 1.95 12.1665C1.95 6.0955 6.879 1.1665 12.95 1.1665ZM13.003 18.1665C13.469 18.1665 13.847 17.7885 13.847 17.3215C13.847 16.8555 13.469 16.4775 13.003 16.4775C12.537 16.4775 12.158 16.8555 12.158 17.3215C12.158 17.7885 12.537 18.1665 13.003 18.1665ZM13.471 15.3445H12.473C12.438 14.1825 12.655 13.2905 13.412 12.4015C13.903 11.8315 15.019 10.9225 15.357 10.3435C16.079 9.1145 15.434 7.1665 13.086 7.1665C11.647 7.1665 10.471 8.0435 10.158 9.6735L9.14 9.5715C9.42 7.3355 11.098 6.1665 13.062 6.1665C15.026 6.1665 16.677 7.4165 16.677 9.3865C16.677 11.1925 14.851 12.1685 14.039 13.2545C13.617 13.8175 13.484 14.6315 13.471 15.3445Z" fill="#C4C4C4"/> </g> <defs> <clipPath id="clip0_4_460"> <rect width="24" height="24" fill="white" transform="translate(0.950005 0.166504)"/> </clipPath> </defs> </svg>
      </span>
      {%- unless product.price_varies == false and product.compare_at_price_varies %}
        <div class="cutoff_Price">
          <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
          <span>
            <s class="price-item price-item--regular">
              {% if settings.currency_code_enabled %}
                {{ compare_at_price | money_with_currency }}
              {% else %}
                {{ compare_at_price | money_without_trailing_zeros }}
              {% endif %}
            </s>

            <span class="discount_calc show">
              Up to 67% Off<sup>*</sup>! 
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"> <g clip-path="url(#clip0_4_471)"> <path d="M15.0656 8.1665C15.0656 12.1801 11.8124 15.4321 7.79999 15.4321C3.78758 15.4321 0.534363 12.1801 0.534363 8.1665C0.534363 4.15526 3.78758 0.900879 7.79999 0.900879C11.8124 0.900879 15.0656 4.15526 15.0656 8.1665ZM7.99496 3.30322C6.39837 3.30322 5.38007 3.97579 4.58044 5.17113C4.47684 5.326 4.5115 5.53485 4.65998 5.64744L5.67655 6.41824C5.82904 6.53388 6.04631 6.50637 6.16478 6.35607C6.68814 5.69227 7.047 5.30733 7.84358 5.30733C8.44209 5.30733 9.18239 5.69253 9.18239 6.2729C9.18239 6.71165 8.82019 6.93697 8.22925 7.26829C7.54007 7.65463 6.62811 8.13548 6.62811 9.33838V9.45557C6.62811 9.64972 6.78552 9.80713 6.97968 9.80713H8.6203C8.81445 9.80713 8.97186 9.64972 8.97186 9.45557V9.41651C8.97186 8.58267 11.409 8.54795 11.409 6.2915C11.409 4.59223 9.64631 3.30322 7.99496 3.30322ZM7.79999 10.5688C7.05687 10.5688 6.45233 11.1734 6.45233 11.9165C6.45233 12.6596 7.05687 13.2642 7.79999 13.2642C8.5431 13.2642 9.14764 12.6596 9.14764 11.9165C9.14764 11.1734 8.5431 10.5688 7.79999 10.5688Z" fill="#ADB5BD"/> </g> <defs> <clipPath id="clip0_4_471"> <rect width="15" height="15" fill="white" transform="translate(0.299988 0.666504)"/> </clipPath> </defs> </svg>
            <span>

          </span>
        <div>
      {%- endunless -%}
    </div>
    <small class="unit-price caption{% if product.selected_or_first_available_variant.unit_price_measurement == nil %} hidden{% endif %}">
      <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
      <span class="price-item price-item--last">
        <span>{{- product.selected_or_first_available_variant.unit_price | money -}}</span>
        <span aria-hidden="true">/</span>
        <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
        <span>
          {%- if product.selected_or_first_available_variant.unit_price_measurement.reference_value != 1 -%}
            {{- product.selected_or_first_available_variant.unit_price_measurement.reference_value -}}
          {%- endif -%}
          {{ product.selected_or_first_available_variant.unit_price_measurement.reference_unit }}
        </span>
      </span>
    </small>
  </div>
  {%- if show_badges -%}
    <span class="badge price__badge-sale color-{{ settings.sale_badge_color_scheme }}">
      {{ 'products.product.on_sale' | t }}
    </span>

    <span class="badge price__badge-sold-out color-{{ settings.sold_out_badge_color_scheme }}">
      {{ 'products.product.sold_out' | t }}
    </span>
  {%- endif -%}
  <div class="grab_atome_container">
      <span class="grab_info">3x $67 w/</span>
      <img class="grab_image" alt="Grab Logo" src="https://cdn.shopify.com/s/files/1/0869/2875/2918/files/grab-icon_png.png?v=1711195338" />
      <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M14.8956 7.6665C14.8956 11.6801 11.6424 14.9321 7.63 14.9321C3.61759 14.9321 0.364372 11.6801 0.364372 7.6665C0.364372 3.65526 3.61759 0.400879 7.63 0.400879C11.6424 0.400879 14.8956 3.65526 14.8956 7.6665ZM7.82497 2.80322C6.22838 2.80322 5.21008 3.47579 4.41045 4.67113C4.30685 4.826 4.34151 5.03485 4.48999 5.14744L5.50656 5.91824C5.65905 6.03388 5.87632 6.00637 5.99479 5.85607C6.51815 5.19227 6.87701 4.80733 7.67359 4.80733C8.2721 4.80733 9.0124 5.19253 9.0124 5.7729C9.0124 6.21165 8.6502 6.43697 8.05926 6.76829C7.37008 7.15463 6.45812 7.63548 6.45812 8.83838V8.95557C6.45812 9.14972 6.61553 9.30713 6.80968 9.30713H8.45031C8.64446 9.30713 8.80187 9.14972 8.80187 8.95557V8.91651C8.80187 8.08267 11.239 8.04795 11.239 5.7915C11.239 4.09223 9.47632 2.80322 7.82497 2.80322ZM7.63 10.0688C6.88688 10.0688 6.28234 10.6734 6.28234 11.4165C6.28234 12.1596 6.88688 12.7642 7.63 12.7642C8.37311 12.7642 8.97765 12.1596 8.97765 11.4165C8.97765 10.6734 8.37311 10.0688 7.63 10.0688Z" fill="#ADB5BD"/> </svg>

      <span class="atome_info">or 4x $50 w/</span>
      <img class="atome_image" alt="Atome Logo" src="https://cdn.shopify.com/s/files/1/0869/2875/2918/files/atome-img_png.png?v=1711195338" />
      <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M14.8956 7.6665C14.8956 11.6801 11.6424 14.9321 7.63 14.9321C3.61759 14.9321 0.364372 11.6801 0.364372 7.6665C0.364372 3.65526 3.61759 0.400879 7.63 0.400879C11.6424 0.400879 14.8956 3.65526 14.8956 7.6665ZM7.82497 2.80322C6.22838 2.80322 5.21008 3.47579 4.41045 4.67113C4.30685 4.826 4.34151 5.03485 4.48999 5.14744L5.50656 5.91824C5.65905 6.03388 5.87632 6.00637 5.99479 5.85607C6.51815 5.19227 6.87701 4.80733 7.67359 4.80733C8.2721 4.80733 9.0124 5.19253 9.0124 5.7729C9.0124 6.21165 8.6502 6.43697 8.05926 6.76829C7.37008 7.15463 6.45812 7.63548 6.45812 8.83838V8.95557C6.45812 9.14972 6.61553 9.30713 6.80968 9.30713H8.45031C8.64446 9.30713 8.80187 9.14972 8.80187 8.95557V8.91651C8.80187 8.08267 11.239 8.04795 11.239 5.7915C11.239 4.09223 9.47632 2.80322 7.82497 2.80322ZM7.63 10.0688C6.88688 10.0688 6.28234 10.6734 6.28234 11.4165C6.28234 12.1596 6.88688 12.7642 7.63 12.7642C8.37311 12.7642 8.97765 12.1596 8.97765 11.4165C8.97765 10.6734 8.37311 10.0688 7.63 10.0688Z" fill="#ADB5BD"/> </svg>
  </div>
